@model Blog.Web.Models.Article.MultipleArticleModel
@{
    ViewBag.Title = "Home Page";
}
<h1 class="my-4">
    Editors choice
</h1>

<div class="row">
    <div class="col-md-8">
        <img class="img-responsive" src="@Model.LatestArticle.Picture" alt="">
    </div>
    <div class="col-md-4">
        <h3>@Model.LatestArticle.Title</h3>
        <p>@Model.LatestArticle.Intro</p>
        <div class="text-truncate">
            <p class="d-inline-block text-truncate" style="max-width: 350px;">@Model.LatestArticle.Text</p>
        </div>
        <a>@Html.ActionLink("Read more", "Single", "Article", new { articleId = Model.LatestArticle.Id, userId = Session["userId"]})</a>
    </div>
</div>
<!-- /.row -->
<br />
<br />
<div class="row">
    @foreach (var article in Model.FewArticles)
    {
        <div class="col-md-3 col-sm-6 mb-4">
                <img class="img-responsive" src="@article.Picture" alt="">
                <h5>
                    @Html.ActionLink(article.Title, "Single", "Article", new { articleId = Model.LatestArticle.Id, userId = Session["userId"] })
                </h5>
        </div>
    }
</div>

<!-- /.row -->
<!-- top rated & last commented -->
<div class="row">
    <div class="col-md-6 col-sm-6 mb-auto">
        <div class="row">
            <div class="col-md-12 col-sm-12 mb-auto">
                <h3 class="my-4">
                    Top rated articles
                </h3>
            </div>
        </div>
        <div class="row">
            @foreach (var article in Model.HighestRated)
            {
                <div class="col-md-4 col-sm-4 mb-auto">
                        <img class="img-responsive" src="@article.Picture" alt="">
                        <h6>
                            @Html.ActionLink(article.Title, "Single", "Article", new { articleId = Model.LatestArticle.Id, userId = Session["userId"] })
                        </h6>
                        <p><small>Article rating: @article.Rating</small></p>
                </div>
            }
        </div>
    </div>
    <div class="col-md-6 col-sm-6 mb-auto">
        <div class="row">
            <div class="col-md-12 col-sm-12 mb-auto">
                <h3 class="my-4">
                    Latest comented
                </h3>
            </div>
        </div>
        <div class="row">
            @foreach (var article in Model.LastCommented)
            {
                <div class="col-md-4 col-sm-4 mb-auto">
                        <img class="img-responsive" src="@article.Picture" alt="">
                        <h6>
                            @Html.ActionLink(article.Title, "Single", "Article", new { articleId = Model.LatestArticle.Id, userId = Session["userId"] })
                        </h6>
                </div>
            }
        </div>
    </div>
</div>