@model Blog.Data.Entities.User
@{
    ViewBag.Title = "Profile";
}
<br />
    <div class="row">
        <div class="col-md-2">
            <div class="profile-img">
                <img class="img-responsive" src="@Model.Picture" alt="" />
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Html.LabelFor(model => model.Name)</label>
                    </div>
                    <div class="col-md-6">
                        <p>@Model.Name</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>@Html.LabelFor(model => model.Email)</label>
                    </div>
                    <div class="col-md-6">
                        <p>@Model.Email</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn col-md-2">
            @Html.ActionLink("Edit profile", "EditProfile", "User", new { Id = Model.Id}, null)
        </div>
    </div>

