@model Blog.Web.Models.Article.ArticleModel
@{
    ViewBag.Title = "Create";
}

<h1>Create new article</h1>
<h5 class="text-danger">@Html.ValidationSummary()</h5>

@using (Html.BeginForm("Create", "Article", null, FormMethod.Post,
                              new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<fieldset>
    <legend>Image</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.Picture)
    </div>
    <div class="editor-field">
        <input id="ImagePath" title="Upload image"
               type="file" name="file" />
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Title)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Title)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Intro)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Intro)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Text)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Text)
    </div>

    <div class="editor-field">
        @Html.HiddenFor(model => model.AuthorId)
    </div>
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" vaue="Save" />
    </div>
</fieldset>
}

