@model Blog.Web.Models.Article.SingleArticleModel
@{
    ViewBag.Title = "Single";
}
<div class="row">
    <div class="col-8">
        <img class="img-responsive" src="@Model.Article.Picture" />

        <h2>@Model.Article.Title</h2>
        <p class="singleIntro"><b>@Model.Article.Intro</b></p>
        <p class="singleText">@Model.Article.Text</p>
    </div>
    <div class="col-2">
        @if (Model.User != null && Model.Article.AuthorId == Model.User.Id)
        { 
        <a>@Html.ActionLink("Edit", "Edit", "Article", new { Id = Model.Article.Id }, null)</a>
        <a>@Html.ActionLink("Delete", "Delete", "Article", new { Id = Model.Article.Id }, null)</a>
        }
    </div>
</div>


<div class="row bootstrap snippets">
    <div class="col-md-6 col-md-offset-2 col-sm-6">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Comment panel</h3>
                </div>
                <form class="panel-body">
                    @if (Model.User != null && Model.User.CanComment != 0)
                    {
                        <span id="result1"></span>
                        <input id="Comment" class="form-control" placeholder="write a comment..." rows="3" />
                        <input type="hidden" id="ArticleId" value="@Model.Article.Id" />
                        <input type="hidden" id="UserId" value="@Model.User.Id" />
                        <br>
                        <input type="button" class="btn btn-outline-dark" value="Post" id="buttonComment" />
                        <div class="clearfix"></div>
                        <hr>
                    }

                    <ul class="media-list">
                        @if (Model.Comments != null)
                        {
                            foreach (var comment in Model.Comments)
                            {
                                <li class="media">
                                    <div class="media-body">
                                        <input type="hidden" id="CommentId" value="@comment.Id" />
                                        @if (comment.Reported != 0)
                                        {
                                            <span class="badge badge-danger">Reported</span>
                                        }

                                        @foreach (var user in Model.Users.Where(u => u.Id == comment.AuthorId))
                                        {
                                            <a class="pull-left">
                                                <img class="col-md-1 img-responsive" src="@user.Picture" alt="" class="img-circle">
                                            </a>
                                            <strong class="text-success">@user.Name</strong>
                                            if (comment.Reported == 0)
                                            {
                                                <a class="pull-right" id="buttonReport" href="#"><small> Report </small></a>
                                            }
                                        }
                                        @if (Model.User != null && Model.User.Id == comment.AuthorId || Model.User.Role != 0)
                                        {
                                            if (Model.User.Role == 0)
                                            {
                                                <a class="pull-right" href="#"><small> Edit </small></a>
                                            }
                                            else if (Model.User.Role == 1 && comment.Reported == 1)
                                            {
                                                <a class="pull-right" id="buttonKeepReported" href="#"><small> Keep </small></a>
                                            }

                                            <a class="pull-right" id="buttonDeleteComment" href="#"><small> Delete </small></a>
                                        }
                                        <p class="comment-text">
                                            @comment.Text
                                        </p>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-2 col-sm-6">
        <h6>Rating:</h6>
        <p id="rating">@Model.Article.Rating</p>
        @if (Model.User != null && Model.User.CanRate != 0)
        {
            <a id="buttonRatePlus" value="1">+</a>
            <a id="buttonRateMinus">-</a>
            <input type="hidden" id="RatePlus" value="1" />
            <input type="hidden" id="RateMinus" value="0" />
            <input type="hidden" id="ArticleId" value="@Model.Article.Id" />
        }

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#buttonComment').click(function () {
            var ArticleId = $('#ArticleId').val();
            var UserId = $('#UserId').val();
            var Comment = $('#Comment').val();
            $.ajax({
                url: '/Article/WriteComment/',
                type: 'POST',
                datatype: "JSON",
                data: {articleId: ArticleId, userId: UserId, comment: Comment},
                success: function (result) {
                    $('#result1').html(result);
                }
            });
        });
    //bug: grabs only the first comment to delete-->
        $('#buttonDeleteComment').click(function () {
            var CommentId = $('#CommentId').val();
            $.ajax({
                url: '/Article/DeleteComment/',
                type: 'POST',
                datatype: "JSON",
                data: {commentId: CommentId},
                success: function (result) {
                    $('#result1').html(result);
                }
            });
        });

        $('#buttonRatePlus').click(function () {
            var ArticleId = $('#ArticleId').val();
            var RateValue = $('#RatePlus').val();

            $.ajax({
                url: '/Article/RateArticle/',
                type: 'POST',
                datatype: "JSON",
                data: {articleId: ArticleId, rateValue: RateValue},
                success: function (result) {
                    $('#result1').html(result);
                }
            });
        });

        $('#buttonRateMinus').click(function () {
            var ArticleId = $('#ArticleId').val();
            var RateValue = $('#RateMinus').val();

            $.ajax({
                url: '/Article/RateArticle/',
                type: 'POST',
                datatype: "JSON",
                data: {articleId: ArticleId, rateValue: RateValue},
                success: function (result) {
                    $('#result1').html(result);
                }
            });
        });

        //bug: grabs only the first comment to report-->
        $('#buttonReport').click(function () {
            var CommentId = $('#CommentId').val();
            $.ajax({
                url: '/Article/ReportComment/',
                type: 'POST',
                datatype: "JSON",
                data: {commentId: CommentId},
                success: function (result) {
                    $('#result1').html(result);
                }
            });
        });

        //bug: grabs only the first comment to keep-->
        $('#buttonKeepReported').click(function () {
            var CommentId = $('#CommentId').val();
            $.ajax({
                url: '/Article/KeepReportedComment/',
                type: 'POST',
                datatype: "JSON",
                data: {commentId: CommentId},
                success: function (result) {
                    $('#result1').html(result);
                }
            });
        });
    });
</script>

